{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
    
<div class="container-fluid py-4">
    <!-- Form Column -->
    <div class="form-column col-lg-5 col-md-12 col-sm-12 wow fadeInRight" data-wow-delay="300ms">
        <div class="inner-column">
          <!-- Contact Form -->
          <div class="faq-form">
            <div class="sec-title">
              <span class="sub-title"></span>
              <h2>Track Your Item Here</h2>
                <form action="{% url 'search' %}" method="get">
              <div class="input-group input-group-outline">
                <label class="form-label">Enter Your Tracking ID</label>
                <input type="text" name="trackingid" class="form-control">
            </div>

            <div class="form-group col-lg-12">
                <button class="btn bg-gradient-primary mt-4 w-100" type="submit" name="submit-form"><span class="btn-title">Track your order</span></button>
            </div>
        </form>
        </div>
        </div>
        </div>
    </div>
</div>
              
            
            </div>

{% endblock content %}
    