{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Start main-content -->
<section class="page-title" style="background-image: url({% static 'images/background/page-title-bg.jpg' %});">
    <div class="auto-container">
        <div class="title-outer text-center mt-5">
            <ul class="page-breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>Register</li>
            </ul>
            <h1 class="title">Register</h1>
        </div>
    </div>
</section>
<!-- end main-content -->

<section id="register" class="bg-light mt-5 py-5 mb-5 pb-5">
    <div class="container ">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-danger text-white">
              <h4>
                <i class="fas fa-user-plus"></i> Register</h4>
            </div>
            <div class="card-body">
              <!-- Alerts -->
              {% include 'aleart.html' %}
              <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <!-- Your form fields here -->
                <!-- Your existing registration form fields -->
                
            
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="username" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="password2">Password</label>
              <input type="password" name="password1" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="password">Confirm Password</label>
              <input type="password" name="password2" class="form-control" required>
            </div>            
              
            <input type="submit" value="Register" class="btn btn-danger mt-5 btn-block">
                
              </form>
              <div class="d-flex justify-content-center links">
                Already have an account? <a href="{% url 'login' %}" style="text-decoration: none; color: red !important;" class="ml-2">Login</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    


{% endblock content %}
